/*Styles*/
* { box-sizing: border-box;
}

#red {
	width: 600px;
	Height: 600px;
	background-color: red;
	margin: 10px;
}

#blueIn {
	width: 300px;
	Height: 300px;
	background-color: blue;
	margin: 10px;
}
	
#green {
	position: relative;
	width: auto;
	Height: 620px;
	background-color: white;
}

.green2 {
	background-color: green !important;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.absolute {
	position: absolute;
	left: 15px;
    top: 5px;
}

.clear-left {
	clear: left;
}

.margins {
	margin-left: 325px !important;
	margin-top: 0px !important;
}

.absolute2 {
	position: absolute;
	left: 255px;
    top: 20px;
}

.absolute3 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.clear-right {
	clear: right;
}

.overflow {
	overflow: auto;
}